/* ===============================================================================
MAIN STYLES
=============================================================================== */

body {
  width: 500px;
  margin: auto;
  color: #472681;
}

/* ===============================================================================
STEVE JOBS BANNER
=============================================================================== */

#banner {
  width: 100%;
  min-height: 300px;
  background-image: url("../images/Steve_Jobs_Speech_Photo.jpg");
  background-size: cover;
  background-position: 50% 30%;
}

#back-button {
  color: #FDFDFD;
  padding-top: 2.2rem;
  font-weight: 100;
  font-size: 1.5rem;
}

#left-arrow {
  margin-top: -8px;
}

/* ===============================================================================
MAIN CONTENT
=============================================================================== */

#content-container {
  margin-top: -5%;
  padding: 3% 7%;
  z-index: 1000;
  background-color: white;
  border-radius: 5%;
}

.categories {
  border-bottom: 2px solid #472681;
  margin-top: 2.3%;
  padding: 0.8rem;
}

.stats {
  display: inline-block;
  font-weight: 900;
  font-size: 1rem;
}

#heading {
  padding-bottom: 1.5rem;
}

#name-container {
  width: 100%;
}

#stats-container {
  padding: 5% 0%;
}


h2 {
  font-size: 3.2rem;
  font-weight: 900;
  display: inline-block;
}

#dots {
  display: inline-block;
  float: right;
  font-size: 2.2rem;
}

h5 {
  margin-top: 1.5rem;
  font-weight: 900;
  font-size: 1.2rem;
}

h6 {
  font-weight: 900;
  display: inline-block;
}

p {
  font-weight: 400;
  font-size: 2.2rem;
  display: inline-block;
}

.right-arrow {
  float: right;
}
