/* ===============================================================================
MAIN STYLES
=============================================================================== */

body {
  width: 520px;
  margin: auto;
  color: #472681;
  max-width: 500px;
}

/* ===============================================================================
STEVE JOBS BANNER
=============================================================================== */

#banner {
  width: 100%;
  min-height: 300px;
  background-image: url("../images/Steve_Jobs_Speech_Photo.jpg");
  background-size: cover;
}

/* ===============================================================================
MAIN CONTENT
=============================================================================== */

#content-container {
  margin-top: -5%;
  padding-top: 2%;
  z-index: 1000;
  background-color: white;
  border-radius: 5%;
}

.categories {
  border-bottom: 2px solid #472681;
  margin-top: 2%;
  padding: 1.5%;
}

.stats {
  display: inline-block;
  font-weight: 600;
}

#heading {
  padding-bottom: 4%;
}

#stats-container {
  padding: 5% 0%;
}


h2 {
  font-size: 3rem;
  font-weight: 900;
}

h5 {
  margin-top: 5%;
  font-weight: 700;
  font-size: 1rem;
}

h6 {
  font-weight: 900;
  display: inline-block;
}

p {
  font-weight: 400;
  font-size: 1.8rem;
  display: inline-block;
}

.right-arrow {
  float: right;
}
