/* ===============================================================================
MAIN STYLES
=============================================================================== */

body {
  min-width: 500px;
  max-width: 1000px;
  margin: auto;
  color: #472681;
}

/* ===============================================================================
STEVE JOBS BANNER
=============================================================================== */

#banner {
  width: 100%;
  min-height: 300px;
  background-image: url("../images/Steve_Jobs_Speech_Photo.jpg");
  background-size: cover;
  background-position: 50% 30%;
}

@media (min-width: 768px ) {
  #banner {
    background-position: 50% 10%;
  }
}

#back-button {
  color: #FDFDFD;
  padding-top: 2.2rem;
  font-weight: 100;
  font-size: 1.2rem;
  margin-left: -5px;
  cursor: pointer;
}

#left-arrow {
  margin-top: -8px;
  cursor: pointer;
}

/* ===============================================================================
MAIN CONTENT
=============================================================================== */

#content-container {
  margin-top: -5%;
  padding: 3% 7%;
  z-index: 1000;
  background-color: white;
  border-radius: 5%;
}

.sections {
  border-bottom: 1px solid #61468F;
  margin-top: 2.3%;
  padding: 0.8rem;
}

.row {
  margin: 0;
}

.stats {
  text-align: center;
  border-top: 1px solid #61468F;
  border-bottom: 1px solid #61468F;
}

.numbers {
  font-family: 'Lato', sans-serif;
  color: #4B2B84;
  font-weight: 900;
  font-size: 1.8rem;
  padding-top: 15px;
  margin-bottom: -10px;
}

.words {
  font-weight: 900;
  font-size: 1.05rem;
  display: block;
}

#heading {
  padding-bottom: 1.5rem;
}

#name-container {
  width: 100%;
}

#follow-container {
  cursor: pointer;
}

#stats-container {
  padding: 0;
}

h2 {
  font-size: 3.2rem;
  font-weight: 900;
  display: inline-block;
}

#dots {
  display: inline-block;
  float: right;
  font-size: 2.2rem;
  cursor: pointer;
}

h5 {
  margin-top: 1.5rem;
  font-weight: 900;
  font-size: 1.2rem;
}

h6 {
  font-weight: 900;
  display: inline-block;
}

#categories-container {
  border-bottom: 1px solid #61468F;
}

p {
  font-weight: 400;
  font-size: 2.2rem;
  display: inline-block;
  margin-left: -10px;
}

.right-arrow {
  float: right;
  cursor: pointer;
}
